<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>編集テスト</title>
</head>
<body>
  <header>
    <div class="container">
      <h1>
        <strong>あいうえお</strong>
      </h1>
    </div>
  </header>
  <main>
    <div>
      <p>
        このサイトからホームページの文章・記事を編集できます
      </p>
    </div>
    <ul>
      <li>
        <a href="edit_top.html">トップページの編集</a>
      </li>
      <li>
        <a href="edit_articles.html">記事の編集</a>
      </li>
      <li>
        <a href="edit_member.html">部員ページの編集</a>
      </li>
    </ul>

    <section class="login">
      <input type="email" id="email" placeholder="メールアドレス">
      <input type="password" id="password" placeholder="パスワード">

      <button id="register">新規登録</button>
      <button id="login">ログイン</button>
      <button id="logout">ログアウト</button>
    </section>
  </main>
  
  
  <!-- <button id="delete">削除</button>
  <ul id="list"></ul> -->

  <!-- <script src="script.js" type="module"></script> -->

  <script type=module>
    
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js";
    import { 
      getAuth, 
      createUserWithEmailAndPassword,
      signInWithEmailAndPassword,
      signOut,
      onAuthStateChanged
    } from "https://www.gstatic.com/firebasejs/10.12.0/firebase-auth.js";

    const firebaseConfig = {
      apiKey: "AIzaSyD2-qs_MfQk1540EgVtl6F3bH0tEmRIU88",
      authDomain: "homepage-test-cc15b.firebaseapp.com",
      projectId: "homepage-test-cc15b",
      storageBucket: "homepage-test-cc15b.firebasestorage.app",
      messagingSenderId: "306865836134",
      appId: "1:306865836134:web:8e6262f6f9fab6477a9da7",
      measurementId: "G-Z4B1QECB3Y"
    };

    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);

    document.getElementById("register").addEventListener("click", async () => {
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      try {
        const userCredential = await createUserWithEmailAndPassword(auth, email, password);
        alert("登録成功");
      } catch (error) {
        alert(error.message);
      }
    });

    document.getElementById("login").addEventListener("click", async () => {
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      try {
        const userCredential = await signInWithEmailAndPassword(auth, email, password);
        alert("ログイン成功");
      } catch (error) {
        alert(error.message);
      }
    });

    document.getElementById("logout").addEventListener("click", async () => {
      await signOut(auth);
      alert("ログアウトしました");
    });

    onAuthStateChanged(auth, (user) => {
      if (user) {
        console.log("ログイン中:", user.uid);
      } else {
        console.log("ログアウト中");
      }
    });
    
  </script>
</body>
</html>